.home {
    height: 100vh;
    background-color: aqua;
}

.home__container {
    flex-direction: column;
    gap: 3rem;
}

.home__container--contents {
    font-size: 1rem;
    line-height: 1.5;
}
.home__para{
    color: red;
    font-weight: bold;
}

@media screen and (min-width: 968px) {
    .home__container {
        flex-direction: row;
        gap: 3rem;
    }

    .home__container--contents {
        width: calc(100% - 250px)
    }

    .home__container--contents h2 {
        /* font-size: 3rem; */
        margin-bottom: 2rem;
    }
}